# Python #
##########
__pycache__/
*.pyc
*.pyo
*.pyd
*.~
*pip-log.txt
*pip-delete-this-directory.txt

# Virtualenv #
##############
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Databases #
#############
*.sqlite
*.sqlite3
logs.sqlite

# IDEs and editors #
####################
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.DS_Store

# Logs #
########
logs/
*.log
